.NavBar {
    display: flex;
    text-align: center;
}

.IconButton {
    width: 50px;
}

.Title {
    width: 80%;
}

.LinkContainer {
    display: flex;
}

.Link,
.Home {
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    display: inline-block;
    color: inherit;
    width: 100%;
    margin: auto;
    padding: 12px;
    text-align: center;
}

.Home {
    display: none;
}

@media (min-width: 450px) {
    /* Home will appear when the screen is larger than 450px*/
    .Home {
        display: inline-block;
    }
}
