/**** 
PATTERN 
        Create a .NotesContainer, place an .Image and a .Notes div or a .Notes and a .Notes div
*****/

/**************************** CONTAINER STYLES *********************/
.ContentContainer {
        /* border: 3px solid yellow; */
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
}

.NotesContainer {
        width: 100%;
        /* border: 4px solid pink; */
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        margin: 15px auto;
        box-sizing: border-box;
        /* border-bottom: 1px solid black; */
        box-shadow: 3px 4px 2px -3px gray;
}

.ImageContainer {
        width: 100%;
        height: 200px;
        line-height: 200px;
        /* margin: 10px; */
        /* transition: 1s; */
        /* border: 2px solid black; */
        text-align: center;
}

.QuizButtonContainer {
        width: 90%;
        text-align: center;
        margin: 15px auto;
}

/************************* COMPONENT STYLES ************************/
.TEKS {
        text-decoration: none;
        outline: none;
        display: inline-block;
        color: blue;
        width: 100%;
        font-size: 0.75em;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
        transition: 3s;
}

.TEKS:hover {
        color: #005b4f;
        transition: 1s;
}

.TEKSTitle {
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
}

.Heading,
.Subheading {
        width: 100%;
        text-align: center;
        font-weight: bold;
}

.Link {
        text-decoration: none;
}

/*                      THIS WAS KEY FOR VERTICALLY ALIGNING A <p> in a div
        display: flex;
         justify-content:center;
        align-content:center;
        flex-direction:column;
*/

.Notes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        vertical-align: middle;
        box-sizing: border-box;
        /* border: 1px solid black; */
        padding: 0 25px;
}

.wideParagraph {
        width: 90%;
        padding: 5%;
        margin: auto;
}

/*********************************** SETTINGS FOR STANDARD IMAGES *******************************/

.Image {
        max-width: 90%;
        max-height: 90%;
        /* margin: 5px; */
        box-sizing: border-box;
        vertical-align: middle;
}

/************************************************************************************/
/*                      ALL MEDIA QUEREIS                                           */
/************************************************************************************/

/****************************************** MIN-WIDTH: 750px *****************************************/
@media (min-width: 750px) {
        /**************************** CONTAINER STYLES *********************/
        .ImageContainer {
                width: 70%;
                height: 300px;
                line-height: 300px;
                /* transition: 1s; */
        }

        .NotesContainer {
                flex-direction: row;
        }

        .Notes {
                width: 30%;
        }

        .QuizButton {
                height: 80px;
                width: 175px;
                font-weight: bold;
        }
}

/****************************************** MIN-WIDTH: 1050px *****************************************/
@media (min-width: 1250px) {
        /**************************** CONTAINER STYLES *********************/
        .NotesContainer {
                width: 45%;
                flex-direction: row;
                margin: 15px auto;
                box-sizing: border-box;
                /* border-bottom: 1px solid black; */
                box-shadow: 3px 4px 2px -3px gray;
        }

        .ImageContainer {
                width: 45%;
                margin: auto;
        }

        .QuizButtonContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
        }

        /************************* COMPONENT STYLES ************************/
        .TEKS {
                font-size: 1.1em;
        }

        .Notes {
                width: 50%;
        }

        p {
                padding: 0 10px;
                box-shadow: -3px 0 6px -5px #0d47a1; /* left vertical bar */
        }

        .QuizButton {
                height: 125px;
                width: 250px;
        }
}
