/**************************** CONTAINER STYLES *********************/
.ContentContainer {
        /* border: 3px solid yellow; */
        padding: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
}

.NotesContainer {
        width: 100%;
        /* border: 4px solid pink; */
        vertical-align: middle;
        display: flex;
        flex-direction: column;
}

.ImageContainer {
        width: 100%;
        height: 200px;
        line-height: 200px;
        /* margin: 10px; */
        /* transition: 1s; */
        /* border: 2px solid black; */
        text-align: center;
}

/************************* COMPONENT STYLES ************************/
.TEKS {
        text-decoration: none;
        outline: none;
        display: inline-block;
        color: blue;
        width: 100%;
        font-size: 0.75em;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
        transition: 3s;
}

.TEKS:hover {
        color: #005b4f;
        transition: 1s;
}

.TEKSTitle {
        text-align: center;
        margin-bottom: 5px;
}

.Heading,
.Subheading {
        width: 100%;
        text-align: center;
        font-weight: bold;
}

/*                      THIS WAS KEY FOR VERTICALLY ALIGNING A <p> in a div
        display: flex;
         justify-content:center;
        align-content:center;
        flex-direction:column;
*/

.Notes {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        vertical-align: middle;
        box-sizing: border-box;
        /* border: 1px solid black; */
        padding: 0 25px;
}

.wideParagraph {
        width: 90%;
        padding: 10px 5%;
        margin: auto;
}

/*********************************** SETTINGS FOR STANDARD IMAGES *******************************/

.Image {
        max-width: 90%;
        max-height: 90%;
        /* margin: 5px; */
        box-sizing: border-box;
        vertical-align: middle;
}

/************************************************************************************/
/*                      ALL MEDIA QUEREIS                                           */
/************************************************************************************/

/****************************************** MIN-WIDTH: 750px *****************************************/
@media (min-width: 750px) {
        /**************************** CONTAINER STYLES *********************/
        .ImageContainer {
                width: 50%;
                /* height: 300px; */
                /* line-height: 300px; */
                /* transition: 1s; */
        }

        .NotesContainer {
                flex-direction: row;
        }

        .Notes {
                width: 50%;
        }

        .pContainer {
                /* padding-top: 10%; */
        }
}

/****************************************** MIN-WIDTH: 750px *****************************************/
@media (min-width: 750px) {
        /**************************** CONTAINER STYLES *********************/
        .ContentContainer {
                /* width: 100%; */
                /* padding: 5%; */
        }

        .NotesContainer {
                /* justify-content: space-between; */
        }

        .ImageContainer {
                /* border: 2px solid black; */
                /* height: 250px; */
                /* line-height: 250px; */
                /* transition: 1s; */
        }

        .ImageContainerLarge {
                /* width: 100%; */
                /* height: 250px; */
        }
        /************************* COMPONENT STYLES ************************/
        .Notes {
                /* margin: auto; */
        }
}

/****************************************** MIN-WIDTH: 1050px *****************************************/
@media (min-width: 1050px) {
        /**************************** CONTAINER STYLES *********************/
        .ContentContainer {
                /* padding: 10px; */
        }
        .NotesContainer {
                /* flex-direction: row; */
                /* flex-wrap: wrap; */
        }

        .ImageContainer {
                /* height: 400px; */
                /* width: 75%; */
                /* margin: auto; */
                /* line-height: 400px; */
                /* border: 2px solid black; */
                /* transition: 1s; */
        }

        .ImageContainerLarge {
                /* width: 100%; */
                /* height: 350px; */
        }

        /************************* COMPONENT STYLES ************************/
        .Notes {
                /* width: 45%; */
                /* padding-top: 0; */
        }
}
