.PageTitle {
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

.ExternalLink {
    text-decoration: none;
    color: blue;
    display: inline-block;
}

.Card {
    margin-bottom: 20px;
}

.VertMenu {
    display: flex;
    width: 90%;
    padding: 20px;
    margin: auto;
    /* margin-block-start: 3em; */
}

.Link,
.PageLink {
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    display: inline-block;
    color: inherit;
    width: 100%;
    margin: auto;
    padding: 12px;
    text-align: center;
}

.Link:hover {
    background-color: #29b6f6;
    color: #b4ffff;
}

.PopUp {
    width: 100%;
}

.AddMenu:focus {
    outline-style: none;
}

@media (min-width: 800px) {
    .Card {
        width: 45%;
        display: inline-block;
        margin: 2.5%;
    }
}
