.GameBoard {
        display: flex;
        flex-direction: row;
        width: 100vw;
        min-height: 100vh;
        justify-content: space-around;
        align-content: center;
        margin-top: 150px;
}

.Target1 {
        height: 250px;
        width: 250px;
        background-color: blue;
}

.Target2 {
        height: 250px;
        width: 250px;
        background-color: green;
}

.Moveable1 {
        height: 200px;
        width: 200px;
        background-color: gray;
}
